@import "tailwindcss";
@config "../../tailwind.config.js";

@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #EAF2E7;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --font-xxs: 0.6rem;
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1rem; /* 16px (base) */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-xxl: 2rem; /* 32px */
  
  /* Backgrounds */
  --background: #091101;
  --background-transparent: #dedede3d;

  /* Text Colors */
  --text-label: #a5a5a5;
  --text-color: #e4e4e4;
  --text-color-hover: rgba(255, 255, 255, 0.17);

  /* Primary Colors */
  --primary-color-lighter: #1b2329; 
  --primary-color-100: #24445a; 
  --primary-color-200: #1e3d52; 
  --primary-color-light: #18464e; 
  --primary-color-400: #0f6b9b; 
  --primary-color: #1890ff; 
  --primary-color-dark: #0e78c0; 
  --primary-color-700: #083b5e; 
  --primary-color-darker: #052a42; 
  --primary-color-900: #001c2d; 

  /* Secondary Colors (Grey-Blue scale) */
  --secondary-color-lighter: #2e2e46; 
  --secondary-color-100: #29293e; 
  --secondary-color-200: #242436; 
  --secondary-color-light: #1f1f30; 
  --secondary-color-400: #1b1b28; 
  --secondary-color: #82828233; 
  --secondary-color-600: #13131d; 
  --secondary-color-dark: #16161e;
  --secondary-color-800: #0b0b12; 
  --secondary-color-darker: #05050a;

  --secondary-color-a100: #0c0c0c; 
  --secondary-color-a200: #777777; 
  --secondary-color-a300: #acacac; 

  /* Error Colors */
  --error-color-lighter: #2a0909; 
  --error-color-light: #7a2929; 
  --error-color: #a82e2e; 
  --error-color-dark: #c23636; 
  --error-color-darker: #e94e4e; 

  /* Warning Colors */
  --color-warning-lighter: #2f2921; 
  --color-warning-light: #7c551f; 
  --color-warning: #a56d26; 
  --color-warning-dark: #be8130; 
  --color-warning-darker: #e19b3f; 

  /* Success Colors */
  --success-color-lighter: #1e2a1e; 
  --success-color-light: #235723; 
  --success-color: #2e8a2e; 
  --success-color-dark: #399e39; 
  --success-color-darker: #47b647; 

  /* Contained Colors */
  --contained-color: #683393;
  --contained-color-dark: #492467;

  /* Outlined Colors */
  --outlined-color: #b6b6b6;
  --outlined-color-hover: rgba(234, 13, 13, 0.525);

  /* Divider */
  --color-divider: #3c3c3c;

  /* Wave colors */
  --wave-start: #17171c;
  --wave-middle: #1b1b21;
  --wave-end: rgba(165, 52, 52, 0.6);

  /* Green Colors */
  --green-lighter: #72CB68;
  --green-light: #7DA84F;
  --green-light-dark: #73896A;
  
  --green: #122400;
  --green-200: #2D4E0A;

  --green-bg-1: rgba(9, 17, 1, 1);
  --green-bg: rgba(9, 17, 1, 0.745);
  --green-bg-0: rgba(9, 17, 1, 0);
  
  --green-dark-transparent-100:#38561830;
  --green-dark-transparent-400: #416d1263;
  --green-dark-transparent-500: #395819b0;

  --green-dark-500: #436F13;
  --green-dark: #34570C; 

  /* Font Colors */
  --father-font: #b8c2b4;
  --father-font-transparent: #b8c2b4a1;
  --father-font-transparent-200: rgba(184, 194, 180, 0.123);
  --children-font: #7A8077;

  /* Other Colors */
  --orange-title: #9a4219;
  --white-peristance-color: #EAF2E7;
  --color-no-focus: #0A1506;
  
  /* Card Colors */
  --bg-card-obscure: #192012;
  --bg-card-obscure-200: #192012b3;
  --bg-card-obscure-300: #1920127d;
}

body {
  min-width: 320px;
  min-height: 100svh;
  background-color: var(--background);
  color: var(--father-font);
}

html, body{
  overflow-x: hidden;
  height: 100%;
}

.btn_{
  border: 1px solid #f00;
}

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
}

.card-base {
  @apply aspect-[13/11] bg-[var(--bg-card-obscure)] rounded-lg p-2.5 inline-block w-full max-w-[335px] h-[205px] flex-shrink-0 lg:flex-1 ;
}

@layer utilities {
  .scrollbar-thin-custom {
    scrollbar-width: thin;
    scrollbar-color: #8888887d transparent;
  }
  .scrollbar-thin-custom::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin-custom::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  .scrollbar-thin-custom::-webkit-scrollbar-button {
    display: none;
    opacity: 0;
  }
}

#check_box{
  aspect-ratio: 1/1;
  width: 25px;
  margin:auto;
  fill: var(--father-font);
}