#contact_form{
    margin-top: 100px;
    background-color: var(--background);
    display: grid;
    grid-template-areas:
        "title title"
        "name phone"
        "email service"
        "message message"
        "button button";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 2fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px;
    place-self: center;
    align-self: center;
    height: 320px;
    width: clamp(300px, 100%, 800px);
}

@media screen and (min-width: 1000px) {
    #contact_form{
        grid-column-gap: 80px;
    }
}