#contact_form{
    border: none;
    margin: 0;
    padding: 20px;
    box-shadow: none;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: clamp(300px, 100%, 800px);
    place-self: center;
    margin-top: 50px;
}