#Frutal_trees_box{
    background: url('../../../../public/assets/fruit_trees.webp') center/cover;
    width: 100%;
    height: 350px;
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
}

.FurtalTrees{
    gap: 10px;
    width: clamp(300px, 100%, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FurtalTrees >:nth-child(1){
    padding: 10px 70px !important;
    border-radius: 0px 0px 30px 30px !important;    
}